.wrapper {
  height: 100vh;
  min-width: 180px;
  max-width: 50%;
  background-color: var(--secondary);
  overflow: hidden;
  color: var(--white);
}

.title {
  text-align: center;
  padding: 10px;
  height: var(--header-height);
}

.spread {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}
